@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/RobotoCondensed-webfont.woff) format('woff');
}

h1,h2,h3,h4,h5,h6{font-family: 'Roboto Condensed', sans-serif;}

body, html {
    background-color: #fff;
    height: 100%;
}

a { cursor: pointer; }

.app-main {
    margin-top: 50px;
}
.glyphicon-spin{
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.app-menu {
    background-color: #32393f;
    border-bottom: 1px solid #2d343a;
}

#nav-hamburger-icon{
  width: 25px;
  height: 25px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-hamburger-icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-hamburger-icon span:nth-child(2),#nav-hamburger-icon span:nth-child(3) {
  top: 8px;
}

#nav-hamburger-icon span:nth-child(4) {
  top: 16px;
}

#nav-hamburger-icon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

#nav-hamburger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-hamburger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-hamburger-icon.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.app-logo {
    width: 36px;
    height: 36px;
    padding: 0 !important;
    margin: 7px 10px 5px 0px !important;
}

.app-title {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}

.app-toggle-sidebar {
    padding: 15px 5px;
    margin-right: -15px;
}

.app-sidebar {
    background-color: #3d4955;
    width: 200px;
    height: 100%;
    position: fixed;
}

.app-navi {
    padding-top: 7px;
    padding-bottom: 57px;
}

.app-navi>li>a{
    border-radius: 0px;
    color: #b7bec4;
    padding: 5px 0px 5px 15px;
}

.app-navi>li>a span:first-child{
    margin-right: 10px;
}

.app-navi>li>a>i{
    width: 20px;
}

.app-navi>li>a:focus,
.app-navi>li>a:hover{
    background-color: #525c65;
    border-radius: 0px;
    color: #d9e2e9;
}

.app-navi > li.header {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin: 7px 0px 0px 10px;
    text-transform: uppercase;
}

.app-content {
    margin-left: 200px;
    position: relative;
}

.app-content .navbar {
    margin-bottom: 0px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.app-sidebar, .app-content {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.app-toolbar {
    margin-top: 7px;
}

.app-toolbar .grid-search-input {
    width: 200px;
    margin-right: -25px;
    display: inline-block;
}

@media (max-width: 48em) {
    .app-main .app-sidebar {
        margin-left: -200px;
        z-index: 2;
    }
    .app-main .app-content {
        margin-left: 0px;
    }
    .app-main.open .app-sidebar {
        margin-left: 0;
    }
    .app-logo {
        margin: 7px -5px 5px 13px !important;
    }
}

.nano>.nano-pane {
    right: 3px;
    bottom: 55px;
    top: 5px;
    width: 4px;
    background: rgba(255,255,255,.25);
}

.nano > .nano-pane > .nano-slider {
    background: rgba(255,255,255,.5);
}

.app-loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1000000;
    text-align: center;
    color: #fff;
    display: none;
}
.app-loading.open{
    display: block;
}
.app-loading span{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.52);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10%;
}
.app-loading i{
    display: block;
    font-style: normal;;
}
.app-loading i.glyphicon{
    font-size: 4em;
    margin-bottom: 5px;
}

#toast-container .toast{
    opacity: 1;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
#toast-container .toast-info{
    background: #fff;
    color: #333;
    background-image: none !important;
    padding-left: 15px;
}
#toast-container .toast-info b{
    color: #2196F3;
}
.modal-dialog .modal-content.modal-delete{
    background-image: url('../img/delButton-dg.jpg');
    background-repeat: no-repeat;
    background-size: 130px;
    padding-left: 130px;
}
.modal-dialog .modal-content.modal-info{
    background-image: url('../img/infoButton-dg.jpg');
    background-repeat: no-repeat;
    background-size: 130px;
    padding-left: 130px;
}

/*form signin*/
.panel-signin {
    max-width: 330px;
    margin: 0 auto;
    border: 0px;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.4);
    -moz-box-shadow: 0 5px 20px rgba(0,0,0,.4);
    box-shadow: 0 5px 20px rgba(0,0,0,.4);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin #username{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAASCAYAAAC9+TVUAAAACXBIWXMAAAhNAAAITQEhiCGBAAABQElEQVQ4jWNkwALmz5/PISwsXMvIyBj+//9/ZSB9F0ivfPv2bXNiYuIPdPWM2AwQERHZC9RkhaGYkfHYmzdvnNENYkJXKCQkVI3NABAAiYPk0cWZsNgWxYAHYJNnwqJOiQE/UCLGkHsEDLlH0BCgv5fhMwGbPIYh7969awXFAjYDQOIgeQxxGGP9+vVmzMzMBUCFv4CgiZWVNRk9nfz9+3c2CwtLA5DNBmRPCAwMPAU3ZMOGDb5MTEwbkFz2BYhn/Pv3bw/QgAdATQpAeRegWAYQ80DVAKX/BQDBZsaGhgYWIyOjx0BBCQbSwYtz587JMgJd4QW0ZSsDmQDoGm8moHMdGCgAIP0gQ1QpNEQVFJB8DJQBPiZgyL+jxASQfpB31lFiCEg/k5+f33KgablAzi2g2D8i9f4DqQfp8/PzWw4AO+2J05LaTuwAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 11px 10px;
    padding-left: 38px;
}
.form-signin #password{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAASCAYAAACEnoQPAAAACXBIWXMAAAkPAAAJDwEG4sbiAAABEUlEQVQ4jWNkQANr1qxRZWNjqwQyXYBYFogfA/GeX79+tYeEhNxGVouiedOmTcGMjIxL/v//z4FuKFD8B1A8xs/Pby2G5o0bN5oAFRwFMtmgClcD2ZeAWA/ID4Ua+AtIW/v7+58B6WFBMrkfpBGIv/z7988RpgBq8CSg/H4gkweqzhYkzgQi1q1bJwakbEBsoMldyBpBAMQHivdCuTZQ9RDNzMzMcjCFTExM+xmwAKCNh2BsoHoJuGagBB9M4s+fP18YCACgt5jgmskFjMDASALaDIpXFagrbgH99wOLWh4gVoKybwDVdDMC4/Y+kKNAhsVXQM5mYyATUOTnkar5D9magZG9Ekj/I1Hfv////28HAJ+0ZZy0JuMLAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 11px 10px;
    padding-left: 38px;
}
/*end form signin*/


/*
|-------------------------------------------------------------------------------
| grid
|-------------------------------------------------------------------------------
*/
.grid-container{
    position: relative;
    overflow: auto;
}
.table-header-fixed-top{
    background-color: #ccc;
    min-width: 300px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.table-header-fixed-top table th{
    cursor: pointer;
}
.table-header-fixed-top table{
    background-color: #fff;
    margin-bottom: 0;
    min-width: 768px;
}
.thead-hide{
    margin-top: -40px;
}
.grid-container .loading{
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
    color: rgba(0, 0, 0, 0.3);
    display: none;
}
.grid-container .loading.open{
    display: inline-block;
}
.grid-container .loading i{
    font-size: 5em;
}
.table-header-fixed-top .actions{
    padding: 2px;
}
#search-wrap {
    position: relative;
    display: inline-block;
}
#search-wrap .form-control {
    padding-right: 35px !important;
}
#search-wrap #search-clear[data-toggle="true"] {
    display: block;
}
#search-wrap #search-clear {
    position: absolute;
    top: 0px;
    font-size: 19px;
    font-style: normal;
    width: 30px;
    text-align: center;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    right: 0px;
    height: 33px;
    padding-top: 10px;
    color: #333;
    display: none;
}
#search-wrap #search-clear:hover{
    background-color: rgba(0, 0, 0, 0.04);
}
/*end grid*/
